<component name="libraryTable">
  <library name="spring-aop">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-aop.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aspects.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans.jar!/" />
      <root url="file://$PROJECT_DIR$" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/src" />
    </SOURCES>
  </library>
</component>