body{
    background-color: lightblue;
}

.container-box{
    margin:0px auto;
    height:100vh;
    width: 50%;
    align-content: center;
    border: burlywood 20px solid;
}

.card{
    height: 370px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
    color: white;
}

.input-group-prepend span{
    width: 50px;
    background-color: white;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}